
{% extends 'base.html' %}

{% block title %}
main page
{% endblock title %}

{% block content %}
<form action= "upload" method= "POST" class="ui form" enctype="multipart/form-data">
    {% csrf_token %}

    <input type="text" name="first_name" placeholder="First Name"><br>
    <input type="text" name="last_name" placeholder="Last Name"><br>
    <input type="text" name="username" placeholder="UserName"><br>
    <input type="email" name="email" placeholder="email"><br>
    <input type="password" name="password1" placeholder="Password"><br>
    <input type="password" name="password2" placeholder="Confirm Password"><br>
    <input type="Submit">
    {{form}}
    <button type="submit" class="ui button primary">Confirm</button>
</form>
{% endblock content %}